@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

body    {
    margin: 0%;
    padding: 0%;
    background: black;
}
#time   {
    font-family: 'Tourney', cursive;
    padding: 30px;
    color: #c50000;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 100px;
}

#miliseconds    {
    font-family: 'Tourney', cursive;
    padding: 30px;
    color: #c50000;
    font-weight: bold;
    position: absolute;
    top: 45%;
    right: 37%;
    transform: translate(50%, -50%);
    font-size: 20px;
}

#date    {
    font-family: 'Tourney', cursive;
    padding: 30px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 50px;
}

@media screen and (max-width: 1085px) {
    #time   {
        font-size: 80px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 40%;
        font-size: 20px;
    }
    
    #date    {
        top: 58%;
        font-size: 60px;
    }
}

@media screen and (max-width: 1600px) {
    #time   {
        font-size: 80px;
    }
    
    #miliseconds    {
        top: 45%;
        right: 38%;
        font-size: 20px;
    }
    
    #date    {
        top: 60%;
        font-size: 60px;
    }
}

@media screen and (max-width: 1090px) {
    #time   {
        font-size: 80px;
    }
    
    #miliseconds    {
        top: 45%;
        right: 30%;
        font-size: 20px;
    }
    
    #date    {
        top: 60%;
        font-size: 60px;
    }
}


@media screen and (max-width: 1025px) {
    #time   {
        font-size: 80px;
    }
    
    #miliseconds    {
        top: 45%;
        right: 30%;
        font-size: 20px;
    }
    
    #date    {
        top: 58%;
        font-size: 60px;
    }
}

@media screen and (max-width: 930px) {
    #time   {
        font-size: 60px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 32%;
        font-size: 20px;
    }
    
    #date    {
        top: 56%;
        font-size: 60px;
    }
}

@media screen and (max-width: 915px) {
    #time   {
        font-size: 60px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 32%;
        font-size: 20px;
    }
    
    #date    {
        top: 56%;
        font-size: 60px;
    }
}

@media screen and (max-width: 895px) {
    #time   {
        font-size: 60px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 32%;
        font-size: 20px;
    }
    
    #date    {
        top: 60%;
        font-size: 50px;
    }
}

@media screen and (max-width: 890px) {
    #time   {
        font-size: 60px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 30%;
        font-size: 20px;
    }
    
    #date    {
        top: 58%;
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    #time   {
        font-size: 40px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 35%;
        font-size: 20px;
    }
    
    #date    {
        font-size: 40px;
    }
}

@media screen and (max-width: 750px) {
    #time   {
        font-size: 40px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 35%;
        font-size: 20px;
    }
    
    #date    {
        font-size: 40px;
    }
}

@media screen and (max-width: 540px) {
    #time   {
        padding: 5px;
        font-size: 35px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 32%;
        font-size: 10px;
    }
    
    #date    {
        padding: 5px;
        top: 55%;
        font-size: 30px;
    }
}

@media screen and (max-width: 412px) {
    #time   {
        padding: 5px;
        font-size: 35px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 28%;
        font-size: 10px;
    }
    
    #date    {
        padding: 5px;
        top: 55%;
        font-size: 30px;
    }
}

@media screen and (max-width: 412px) {
    #time   {
        padding: 5px;
        font-size: 35px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 28%;
        font-size: 10px;
    }
    
    #date    {
        padding: 5px;
        top: 55%;
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    #time   {
        padding: 1px;
        font-size: 30px;
    }
    
    #miliseconds    {
        top: 48%;
        right: 32%;
        font-size: 5px;
    }
    
    #date    {
        top: 54%;
        padding: 1px;
        font-size: 20px;
    }
}

@media screen and (max-width: 280px) {
    #time   {
        font-size: 25px;
    }
    
    #miliseconds    {
        top: 47%;
        right: 30%;
        font-size: 10px;
    }
    
    #date    {
        font-size: 20px;
    }
}

@media screen and (max-width: 245px) {
    #time   {
        font-size: 25px;
    }
    
    #miliseconds    {
        font-size: 5px;
    }
    
    #date    {
        font-size: 15px;
    }
}