@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

body    {
    margin: 0%;
    padding: 0%;
    background: black;
}
#time   {
    font-family: 'Tourney', cursive;
    color: #c50000;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: clamp(2rem, 4vw + 1rem, 5.5rem);
}

#miliseconds    {
    transform: translate(50%, -50%);
    font-size: 30px;
}

#date    {
    font-family: 'Tourney', cursive;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: clamp(2rem, 4vw + 1rem, 5.5rem);
}


@media screen and (max-width: 1085px) {
    #time   {
        top: 50%;
        font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    }
    
    #date    {
        top: 55%;
        font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    }
}

@media screen and (max-width: 500px) {
    #time   {
        top: 50%;
        font-size: clamp(1rem, 2vw + 1rem, 1rem);
    }
    
    #date    {
        top: 52%;
        font-size: clamp(1rem, 2vw + 1rem, 1rem);
    }
}
